<!DOCTYPE html>
<html>
    <head>
        <title>Bibliothèque</title>
        <link rel="stylesheet" href="../../../static/css/universal.css"/>
        <link rel="stylesheet" href="../../../static/css/page.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="../../../index.html">
                <h1>Bibliothèque</h1>
                <h2>Faculté Polydisciplinaire Khouribga</h2>
            </a>
        </header>
        <main>
            <div class="page_container">
                <a href="../smi.html"><h2 class="filiere">Filière : Sciences Math et Informatique</h2></a>
                <div class="module">
                    <h3>Analyse 1 :</h3>
                    <ul>
                        <li><h4 class="season">2022/2023</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2021/2022</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Algebre 1 :</h3>
                    <ul>
                        <li><h4 class="season">2022/2023</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2021/2022</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Algebre 2 :</h3>
                    <ul>
                        <li><h4 class="season">2022/2023</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2021/2022</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Physique 1 :</h3>
                    <ul>
                        <li><h4 class="season">2022/2023</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2021/2022</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Physique 2 :</h3>
                    <ul>
                        <li><h4 class="season">2022/2023</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2021/2022</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Informatique</h3>
                    <ul>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Cours.ppt</b> | <i><a href="./1_%20Informatique%201%20-%20Cours.ppt">voir</a></i></li>
                                <li><b>Rappel de Cours et TD.pdf</b> | <i><a href="./2_%20Informatique%201%20-%20Rappel%20de%20Cours%20et%20TD.pdf">voir</a></i></li>
                                <li><b>Corrections de TD.pdf</b> | <i><a href="./3_%20Informatique%201%20-%20Corrections%20de%20TD.pdf">voir</a></i></li>
                                <li><b>Exam0.jpeg</b> | <i><a href="./4_%20Informatique%201%20-%20Exam0%20.jpeg">voir</a></i></li>
                                <li><b>Exam1.jpeg</b> | <i><a href="./5_%20Informatique%201%20-%20Exam1%20.jpeg">voir</a></i></li>
                                <li><b>Exam2.jpeg</b> | <i><a href="./6_%20Informatique%201%20-%20Exam2%20.jpg">voir</a></i></li>
                                <li><b>Exam3.jpeg</b> | <i><a href="./7_%20Informatique%201%20-%20Exam3%20.jpg">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="module">
                    <h3>Langue et Terminologie</h3>
                    <ul>
                        <li><h4 class="season">2020/2021</h4>
                            <ul class="docs_list">
                                <li><b>Document 1</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 2</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 3</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 4</b> | <i><a href="#">voir</a></i></li>
                                <li><b>Document 5</b> | <i><a href="#">voir</a></i></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer>MADE WITH BY FPK CLUB</footer>
        <script>
            $(document).ready(function () {
                $("#link").click(function (e) {
                    e.preventDefault();

                    window.location.href 
                        = "module.pdf";
                });
            });
        </script>
    </body>
</html>