/*
Positioning
Display
Margin and padding
Dimensions
Content properties
Coloring
Borders and border-radius
Background
Transformation properties
*/
@font-face {
    font-family: 'NixieOne';
    src: url(../fonts/nixieone.ttf);
}
@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/inconsolata.ttf);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    font-family: 'NixieOne', sans-serif;
    background-color: #eee;
}
a {
    color: inherit;
    text-decoration: none;
}
header, main, footer {
    width: 100%;
}
/*----------------------------------*/
header {
    padding: 30px 0;
    text-align: center;
}
header h1 {
    margin-bottom: 0;
    font-family: 'NixieOne';
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
}
header h2 {
    margin-top: 5px;
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 16px;
}
/*----------------------------------*/
main h2 {
    font-weight: 200;
    text-align: center;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 900px;
}
.blocks.semesters {
    max-width: 630px;
}
.block_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://picsum.photos/200/200/");
}
.block_container::after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
}
.block_container.smi_bg {
    background-image: url("../media/filieres_backgrounds/smi1.jpg")
}
.block_container.sma_bg {
    background-image: url("../media/filieres_backgrounds/sma.jpg")
}
.block_container.smp_bg {
    background-image: url("../media/filieres_backgrounds/smp.jpg")
}
.block_container.smc_bg {
    background-image: url("../media/filieres_backgrounds/smc.jpg")
}
.block_container.sv_bg {
    background-image: url("../media/filieres_backgrounds/sv.jpg")
}
.block_container.stu_bg {
    background-image: url("../media/filieres_backgrounds/stu.jpg")
}
.block_container.seg_bg {
    background-image: url("../media/filieres_backgrounds/seg.jpg")
}
.block_container.geo_bg {
    background-image: url("../media/filieres_backgrounds/geo.jpg")
}
.block_container.ea_bg {
    background-image: url("../media/filieres_backgrounds/ea.jpg")
}
.block {
    z-index: 1;
    font-size: 30px;
    color: aliceblue;
    transition-duration: 0.5s;
}
.block_container:hover .block {
    font-size: 35px;
}
/*----------------------------------*/
footer {
    margin-top: 30px;
    padding: 10px 0;
    height: 20px;
    text-align: center;
    color: #eee;
    background-color: dimgrey;
}