<!DOCTYPE html>
<html>
    <head>
        <title>Bibliothèque</title>
        <link rel="stylesheet" href="../../static/css/universal.css"/>
    </head>
    <body>
        <header>
            <a href="../../index.html">
                <h1>Bibliothèque</h1>
                <h2>Faculté Polydisciplinaire Khouribga</h2>
            </a>
        </header>
        <main>
            <h2 class="filiere">Filière : Sciences de la Vie</h2>
            <div class="blocks semesters">
                <a class="block_container sv_bg" href="./s1/s1.html"><div class="block">S1</div></a>
                <a class="block_container sv_bg" href="./s2/s2.html"><div class="block">S2</div></a>
                <a class="block_container sv_bg" href="./s3/s3.html"><div class="block">S3</div></a>
                <a class="block_container sv_bg" href="./s4/s4.html"><div class="block">S4</div></a>
                <a class="block_container sv_bg" href="./s5/s5.html"><div class="block">S5</div></a>
                <a class="block_container sv_bg" href="./s6/s6.html"><div class="block">S6</div></a>
            </div>
        </main>
        <footer>MADE WITH BY FPK CLUB</footer>
    </body>
</html>